body{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'opensans';
}

@font-face{
  font-family: 'opensans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
  font-family: 'playfair';
  src: url('../fonts/playfairDisplay-BlackItalic.ttf');
}

h1,h2,h3,h4,h5{
  font-family: 'playfair';
  font-weight: bold;
}
h5{
  font-size: 16px;
}
.header{
  height:130px;
  width:auto;
  background-color: #353436;
}
.header-riservata{
  position: absolute;
  color:#fff;
  width:100%;
  height: 50px;
}
.header-riservata a{
  color:#fff;
}
.header-info{
  height: inherit;
}
.header-nav{
  width:100%;
  float:bottom;
}

footer{
  min-height:270px;
  background-color: #353436;
  color:#fff;
}
footer b{
  font-size: 14px;
}
footer p{
  font-size: 12px;
  margin-top: 25px;
}
footer form{
  margin-top:25px;
}
input[type="text"], input[type="email"], input[type="password"]{
  height: 32px;
  padding: 4px;
  width:184px;
  font-size: 14px;
}
.form-check{
  font-size: 11px;
}
footer .form-group{
  margin-bottom: 10px;
}
input[type="checkbox"]{
  height: 12px;
  width: 12px;
  margin-top:2px;
}
input[type="submit"]{
  height:32px;
  width:184px;
  background-color: #000;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.footer-bottom{
  padding: 20px;
}
.main-slider img{
  height:671px;
  object-fit: cover;
}
.owl-dots{
  position: absolute;
  top: 90%;
  left: calc(50% - 36px);
}
.owl-dot span{
  color:#fff !important;
  border: solid 1px #000;
  border-radius: 100px;
}
.owl-dots .active span{
  background:#e2d1a6 !important;
}
#header-menu,.container, #header-menu .row{
  width:100%;
}
#header-menu,.container{
  height:100%;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu{
  background: #353436 !important;
  border-radius: 0;
  padding: 0 10px;
}
.dropdown-item {
  color:#fff;
  padding: 5px;
  border-bottom: solid 1px #fff;
}
.dropdown-item:last-child{
  border-bottom: none;
}
.dropdown-item:hover{
  background-color: #353436;
  color: #e2d1a6;
}
.nav-link{
  color: #fff !important;
}
.navbar-nav .active>.nav-link{
  color: #e2d1a6 !important;
  font-weight: 1000;
}
.slider-description{
  position: absolute;
  top:calc(50% - 70px);
  right:0;
  z-index: 1;
  width:510px;
  height:140px;
  background-color: #fff;
  opacity: .85;
  padding: 20px;
}
.slider-description h3{
  font-style: italic;
}
.modal-dialog{
  max-width: 600px;
}
.authModal{
  width:600px !important;
  min-height:360px !important;
  background: #353436;
  color:#fff;
}
.modal-backdrop{
  background-color: #fff !important;
}
.modal-header{
  border-bottom: none;
}
.modal-title{
  width:100%;
  font-size:20px;
}
.authModal span[name="modal"]{
  font-size: 11px;
}
.slader  .col-md{
  width:400px;
  min-height: 172px;
  padding: 10px 20px;
}
.collapseButton{
  font-size: 20px;
  width:90px;
  height:35px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}
.sladerContainer{
  width: 1200px;
  position: absolute;
  left: calc(50% - 600px);
  z-index: 1;
  bottom: 0;
}
.slader{
  display: none;
  transition: opacity 1s ease-out;
}
